@media screen and (max-width: 785px) {
    header {
        flex-direction: column;
    }

    ul {
        text-align: center;
    }
    
    main {
        flex-direction: column;
    }

    h2 {
        font-size: 2.5em;
    }

    img {
        width: 550px;
        margin-top: 60px;
    }

    form {
        justify-self: center;
    }
}

@media screen and (max-width: 1143px) {
    h2 {
        font-size: 2.9em;
    }

    img {
        width: 400px;
    }
}

@media screen and (max-width: 974px) {
    h2 {
        font-size: 2.5em;
    }

    img {
        width: 370px;
    }
}

@media screen and (max-width: 915px) {
    h2 {
        font: 2em;
    }
}

@media screen and (max-width: 600px) {
    body {
        padding: 40px 5px;
    }

    h1 {
        text-align: center;
    }

    ul {
        padding: 0px;
    }
    
    img {
        display: none;
    }

    h2 {
        font-size: 2em;
    }

    aside {
        padding: 0 10px;
    }

    aside form {
        width: 90%;
    }
}

@media screen and (max-width: 412px) {
    body {
        padding: 40px 5px;
    }

    h1 {
        text-align: center;
    }

    ul {
        padding: 0px;
    }
    
    img {
        display: none;
    }

    h2 {
        font-size: 1.8em;
    }

    form {
        width: 90%;
        align-items: center;
    }

    input[type="submit"] {
        width: 100%;
    }
}
